build/org.libsdl.testgles/obj/
build/org.libsdl.testgles/bin/
build/android/jni/SDL/
build/org.libsdl.testgles/libs/
*.opensdf
*.sdf
VisualC/SDL/Win32/Debug/
build/win32/Win32/Debug/
build/win32/Debug/
VisualC/SDLmain/Win32/Debug/
VisualC/SDLtest/Win32/Debug/
