build/org.libsdl.testgles/obj/
build/org.libsdl.testgles/bin/
build/android/jni/SDL/
build/org.libsdl.testgles/libs/
*.opensdf
*.sdf
VisualC/SDL/Win32/Debug/
build/win32/Win32/Debug/
build/win32/Debug/
VisualC/SDLmain/Win32/Debug/
VisualC/SDLtest/Win32/Debug/
*.suo
VisualC/SDL/Win32/Release/
build/win32/Release/
VisualC/SDLtest/Win32/Release/
VisualC/SDLmain/Win32/Release/
build/win32/Win32/Release/
build/org.libsdl.testgles/jni/SDL/src/
build/org.libsdl.testgles/jni/SDL/include/
build/android/obj/local/
build/android/libs/
build/android/bin/
build/android/assets/
build/doc/
src/nanovg/doxygen/html/
*.a
*.so
*.dll
*.lib
*.bak
build/deps/glew/lib/
build/deps/luajit-2.1.0-beta/
*.o
*.exe
build/android/gen/
*.exp
*.prefs
build/android/.adbsyn
*.tlog
build/deps/glew/build/vc12/tmp/
*.manifest
*.obj
